@import "tailwindcss";
@import "tw-animate-css";

@source "../../node_modules/streamdown/dist/*.js";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwind-scrollbar";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));